.hero-url {
    position: relative;
    z-index: 3;
    background-color: #fff;
}
.hero-url .hero-wrapper {
    padding-bottom: 7rem;
}

.hero-head{
    position: relative;
    z-index: 3;
    background-color: #fff;
}

.hero-head .hero-wrapper {
    padding-bottom: 7rem;
}

.hero-head:after {
    background-image: url(../img/hero-overlay.png);
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
    position: absolute;
    content: "";
    width: 100%;
    height: 4.8rem;
    bottom: 0;
}



.hero-url:after {
     background-image: url(../img/hero-overlay.png);
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
    position: absolute;
    content: "";
    width: 100%;
    height: 4.8rem;
    bottom: 0;
}


.custom-text-area {
    text-align: center;
    margin-bottom: 30px;
}

input#custom-url {
    color: #00897B !important;
    font-weight: 600 !important;
}


.hero .hero-wrapper {
    padding-bottom: 3rem;
}

.hero-url .hero-wrapper {
    padding-bottom: 10rem;
}

